@model MyDrinkingStore.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientAdress" class="control-label"></label>
                <input asp-for="ClientAdress" class="form-control" />
                <span asp-validation-for="ClientAdress" class="text-danger"></span>
            </div>

            <div>
                <select name="tip livrare" required>
                    <option value="" disabled selected>Tip Livrare</option>
                    <option value="adresa">Adresa</option>
                    <option value="showroom">Showroom-ul cel mai apropiat</option>

                </select>
            </div>

            <div class="form-group">
                <input asp-for="ProductId" class="form-control" type="hidden" text="@ViewBag.ProductId" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Plata Ramburs" class="btn btn-default" />
            </div>
            <div class="form-group">
                <a asp-controller="Cards" asp-action="Create" class="btn btn-success">Plata Card</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
